@import "variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: gainsboro;
  margin: 5rem;
}

.container {
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 24rem;
  height: 32rem;
  margin: 2rem;
  perspective: 1000rem;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.01);
    // box-shadow: 0 7px 7px 0 rgba($color: #000000, $alpha: 0.1);
  }
}

.toggler {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;

  &:checked ~ .flip-card {
    transform: rotateY(-180deg);
  }
}

.flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.75s;
  transform-style: preserve-3d;
}

.front,
.back {
  padding: 2.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  background-color: lighten(gainsboro, 10%);
  border-radius: 25px;
  box-shadow: 0 7px 7px 0 rgba($color: #000000, $alpha: 0.1);
  font-family: "Poiret One", cursive;
}

.front {
  img {
    width: 18rem;
    height: auto;
  }

  h2 {
    text-align: center;
    padding: 0.5rem;
    font-size: 3em;
  }

  p {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
  }
}

.back {
  transform: rotateY(180deg);

  p {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
  }
}

%type {
  margin: 1rem;
  padding: 0.25rem;
  width: 4.5rem;
  height: 2rem;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 0.9em;
    font-family: "Lato", sans-serif;
  }
}

.type-water {
  @extend %type;
  background-color: cornflowerblue;
  color: white;
}

.type-electric {
  @extend %type;
  background-color: gold;
  color: white;
}

.type-fire {
  @extend %type;
  background-color: orangered;
  color: white;
}

.type-psychic {
  @extend %type;
  background-color: palevioletred;
  color: white;
}

.type-normal {
  @extend %type;
  background-color: rgb(211, 211, 211);
  color: black;
}

.type-dark {
  @extend %type;
  background-color: black;
  color: white;
}

.type-grass {
  @extend %type;
  background-color: rgb(2, 189, 2);
  color: white;
}

.type-ice {
  @extend %type;
  background-color: skyblue;
  color: white;
}

.type-fairy {
  @extend %type;
  background-color: pink;
  color: white;
}

@media (max-width: 1550px) {
  body {
    margin: 3rem;
  }

  .card {
    width: 20rem;
    height: 27rem;
    margin: 1.5rem;
  }

  .front,
  .back {
    img {
      width: 16rem;
      height: auto;
    }

    h2 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 1250px) {
  body {
    margin: 2rem;
  }

  .card {
    width: 16rem;
    height: 22rem;
    margin: 1.2rem;
  }

  .front,
  .back {
    padding: 1.5rem;

    img {
      width: 12rem;
      height: auto;
    }

    h2 {
      font-size: 1.5em;
    }

    p {
      font-size: 1em;
    }

    %type {
      font-size: 0.8em;
      height: 1.5rem;
      width: 4.2rem;
    }
  }
}

@media (max-width: 965px) {
  body {
    margin: 1rem;
  }

  .card {
    width: 13rem;
    height: 18rem;
    margin: 1rem;
  }

  .front,
  .back {
    padding: 1rem;
    backface-visibility: hidden;

    img {
      width: 10rem;
      height: auto;
    }

    h2 {
      font-size: 1.5em;
    }

    p {
      font-size: 0.8rem;
    }

    %type {
      height: 1.5rem;
      width: 4.2rem;
    }
  }
}
