* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  margin: 60px;
}

.container {
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 40px;
  margin: 30px;
  position: relative;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poiret One", cursive;
  cursor: pointer;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.1);
}

.card img {
  width: 350px;
  height: auto;
  transition: transform 0.5s;
}

.card img:hover {
  transform: scale(1.02);
}

.card h1 {
  text-align: center;
  padding: 10px;
  font-size: 50px;
}

.card p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.type-water, .type-electric, .type-fire, .type-psychic, .type-normal, .type-dark, .type-grass, .type-ice, .type-fairy {
  margin: 15px;
  width: 75px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-water p, .type-electric p, .type-fire p, .type-psychic p, .type-normal p, .type-dark p, .type-grass p, .type-ice p, .type-fairy p {
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

.type-water {
  background-color: cornflowerblue;
  color: white;
}

.type-electric {
  background-color: gold;
  color: white;
}

.type-fire {
  background-color: orangered;
  color: white;
}

.type-psychic {
  background-color: palevioletred;
  color: white;
}

.type-normal {
  background-color: lightgray;
  color: black;
}

.type-dark {
  background-color: black;
  color: white;
}

.type-grass {
  background-color: #02bd02;
  color: white;
}

.type-ice {
  background-color: skyblue;
  color: white;
}

.type-fairy {
  background-color: pink;
  color: white;
}

@media (max-width: 1650px) {
  .card {
    padding: 35px;
    margin: 25px;
  }
  .card img {
    width: 260px;
    height: auto;
  }
  .card h1 {
    font-size: 40px;
  }
  .card p {
    font-size: 16px;
  }
}
